<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Pacifico&family=Shippori+Antique&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Register<span class="titulo-span">App</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-grid>
      <ion-row >
        <ion-col >
          <h1>Bienvenid@ a <span class="titulo">Register</span>App </h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button href="http://localhost:8100/registro" expand="block" fill="clear" shape="round">
      Registro
    </ion-button>
    <ion-button href="http://localhost:8100/usuarios" expand="block" fill="clear" shape="round">
      usuarios
    </ion-button>
  </ion-toolbar>
</ion-footer>