*{
  --ion-color-primary: #fca311;
  font-family: 'Shippori Antique', sans-serif;
}
//titulo superior
.titulo{
  color: #fca311;
}
.titulo-span{
  color: #ffffff;
}
h1, p{
  text-align: center;
  margin-bottom: 20px;
  text-decoration: underline;
  font-style: italic;
}
h1{
  text-decoration: none;
}