<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Pacifico&family=Shippori+Antique&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Register<span class="titulo-span">App</span></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="listado.length > 0">
    <h1 class="ion-text-center">Listado de usuarios</h1>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <h2 class="ion-text-center">Usuario</h2>
          
            <div *ngFor="let aux of listado" [routerLink]="['../detalle/', aux.id]">
              <ion-item class="input-form">
                <ion-label>{{aux.name}}</ion-label>
              </ion-item>
            </div>
        
        </ion-col>
        <ion-col size="6">
          <h2 class="ion-text-center">Nombre de Usuario</h2>
        
            <div *ngFor="let aux of listado" [routerLink]="['../detalle/', aux.id]">
              <ion-item class="input-form">
                <ion-label>{{aux.username}}</ion-label>
              </ion-item>
            </div>
    
        </ion-col>
      </ion-row>
    </ion-grid> 
  </div>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="listar()" slot="end">
      <ion-icon slot="icon-only" name="list"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
